In [1]:
pip install pandas

Requirement already satisfied: pandas in /Users/ryanmarshall/opt/anaconda3/envs/PythonData/lib/python3.9/site-packages (1.5.0)
Requirement already satisfied: pytz>=2020.1 in /Users/ryanmarshall/opt/anaconda3/envs/PythonData/lib/python3.9/site-packages (from pandas) (2022.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ryanmarshall/opt/anaconda3/envs/PythonData/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /Users/ryanmarshall/opt/anaconda3/envs/PythonData/lib/python3.9/site-packages (from pandas) (1.23.3)
Requirement already satisfied: six>=1.5 in /Users/ryanmarshall/opt/anaconda3/envs/PythonData/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import os

In [6]:
student_data = os.path.join('..', 'Resources', 'new_student_data.csv')
student_df = pd.read_csv(student_data)

In [3]:
student_data = os.path.join('../Resources/new_student_data.csv')
student_df = pd.read_csv(student_data)

In [7]:
student_df

,student_id,student_name,grade,school_name,reading_score,math_score,school_type
0,127008367,Sarah Douglas,11th,Chang High School,87.2,64.1,Public
1,33365505,Francisco Osborne,9th,Fisher High School,NaN,NaN,Public
2,44359500,Ryan Haas,12th,Campbell High School,91.6,54.7,Public
3,24791243,Kathryn Mack,11th,Richard High School,68.9,73.3,Charter
4,121467881,Harold Reynolds,12th,Chang High School,68.7,43.4,Public
...,...,...,...,...,...,...,...
13935,32277979,Kelly Myers,10th,Sullivan High School,62.3,37.9,Public
13936,109412748,Kimberly Burke,10th,Montgomery High School,99.5,89.8,Public
13937,16856426,Crystal Merritt,9th,Turner High School,86.3,71.1,Public
13938,88213835,Misty Wiggins,10th,Fisher High School,75.4,76.4,Public
13939,12153644,Michele Jones,11th,Chang High School,69.0,72.4,Public

In [8]:
student_df['student_id']

0        127008367
1         33365505
2         44359500
3         24791243
4        121467881
           ...
13935     32277979
13936    109412748
13937     16856426
13938     88213835
13939     12153644
Name: student_id, Length: 13940, dtype: int64

In [9]:
student_df['student_name']

0            Sarah Douglas
1        Francisco Osborne
2                Ryan Haas
3             Kathryn Mack
4          Harold Reynolds
               ...
13935          Kelly Myers
13936       Kimberly Burke
13937      Crystal Merritt
13938        Misty Wiggins
13939        Michele Jones
Name: student_name, Length: 13940, dtype: object

In [10]:
import pandas as pd
import os

In [11]:
student_data = os.path.join('../Resources/new_student_data.csv')
student_df = pd.read_csv(student_data)

In [12]:
student_df.head()

,student_id,student_name,grade,school_name,reading_score,math_score,school_type
0,127008367,Sarah Douglas,11th,Chang High School,87.2,64.1,Public
1,33365505,Francisco Osborne,9th,Fisher High School,NaN,NaN,Public
2,44359500,Ryan Haas,12th,Campbell High School,91.6,54.7,Public
3,24791243,Kathryn Mack,11th,Richard High School,68.9,73.3,Charter
4,121467881,Harold Reynolds,12th,Chang High School,68.7,43.4,Public

In [16]:
import pandas as pd
import os